<div _ngcontent-ng-cli-universal-c3="" class="center container">
    <div _ngcontent-ng-cli-universal-c3="" class="content container col-sm-6">
        <form _ngcontent-ng-cli-universal-c3="" class="container ng-untouched ng-pristine ng-valid" novalidate="">
        <div _ngcontent-ng-cli-universal-c3="" class="text-center">
            <h2 _ngcontent-ng-cli-universal-c3="" class="app-name">Update Package Expiratoin Date</h2>
            </div>
        <input _ngcontent-ng-cli-universal-c3="" class="form-control mt-3 ng-untouched ng-pristine ng-valid" name="comID" placeholder="Company ID" type="text">
        <input _ngcontent-ng-cli-universal-c3="" class="form-control mt-3 ng-untouched ng-pristine ng-valid" name="UpdatedDate" placeholder="Enter New Expirational Date" type="datetime-local">
        <br _ngcontent-ng-cli-universal-c3="">
        <button _ngcontent-ng-cli-universal-c3="" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
