<div _ngcontent-ng-cli-universal-c2="" class="container">
    <div _ngcontent-ng-cli-universal-c2="" class="row container">
        <div _ngcontent-ng-cli-universal-c2="" class="col-sm-auto container">
           
                <form _ngcontent-ng-cli-universal-c2="" [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" method="post" enctype="multipart/form-data"  autocomplete="off" class="center ng-untouched ng-pristine ng-invalid">
                    <div _ngcontent-ng-cli-universal-c2="" class="text-center">
                        <h2 _ngcontent-ng-cli-universal-c2="" class="app-name">Add User In Admin Panel</h2>
                    </div>
                    <input _ngcontent-ng-cli-universal-c2="" class="form-control mt-3 ng-untouched ng-pristine ng-invalid" name="emailid" placeholder="Username" required="" formControlName="emailid">
                    <input _ngcontent-ng-cli-universal-c2="" class="mt-3 form-control ng-untouched ng-pristine ng-invalid" name="passwd" placeholder="Password" required="" type="password" formControlName = "passwd">
                    <button _ngcontent-ng-cli-universal-c2="" class="btn btn-primary w-30 mt-3" type="submit">Add User</button>
                </form>
           
            </div>
    </div>
</div>
