.pagination[_ngcontent-ng-cli-universal-c6] > .disabled[_ngcontent-ng-cli-universal-c6] > a[_ngcontent-ng-cli-universal-c6] {
    color: #000;
  }
  .pagination>li>a, .pagination>li>span {
    /* position: relative; */
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  .page-count[_ngcontent-ng-cli-universal-c6] {
    border-radius: 10rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #edf1f5;
    color: #000;
    cursor: default;
}
b, strong {
  font-size: .8rem !important;
  font-weight: bolder;
}